<div class='container'>
	<%= form_for(:session, url: sessions_path, :html => {:class => "loginform"}) do |f| %>
		<%= f.label :email %>
		<%= f.text_field :email %>
		<%= f.label :password %>
		<%= f.password_field :password %>
		<%= f.submit "Sign In" %>
	<% end %>

	<%if @error%>
		<p id="error_message"><%= @error %></p>
	<%end%>
</div>