<div class='container'>
	<div class='login_form'>
	<%= form_for(:session, url: sessions_path, :html => {:class => "loginform"}) do |f| %>
		<%= f.label :email %>
		<%= f.text_field :email, :class => "input_fields" %><br><br>
		<%= f.label :password %>
		<%= f.password_field :password, :class => "input_fields" %><br><br>
		<%= f.submit "Sign In", :class => "submit" %>
	<% end %>
</div>
	<%if @error%>
		<p id="error_message"><%= @error %></p>
	<%end%>
</div>