<h1>hi</h1>

<div class="container_language">

	<div id="search_language">
<table style="width:710px">
<h1><%=@language.title%></h1>
		<thead>
      <tr>
        <th>Title</th>
        <th>Created On</th>
        <th>Video</th>
      </tr>
    <thead>
  	<tbody>
			
			<% @tracks.each do |track|%>
			<% video = track.youtube_id %>
			<% videos = Search.video_by_id(video) %>
      <tr>
				<%videos.each do |vid|%>
	        <td><a href="/videos/<%=track.youtube_id%>"><%=vid.snippet.title%></a></td> 
	        
	        <td><%=track.created_at.strftime("%m/%d/%Y")%></td>
	     		<td><a href="/videos/<%=track.youtube_id%>"><img src='<%=vid.snippet.thumbnails.default.url%>'></a></td>
	        
				<%end%>
			<%end%>
        </tr>
    </tbody>
  </table>
	</div>
</div>