<div class='container'>
	<div class='login_form'>
		<%=form_for(@user,:html => {:class => "loginform"}) do |f| %>
			<%= f.label :email %>
			<%= f.text_field :email %><br>

			<%= f.label :password %>
			<%= f.password_field :password %><br>

			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %><br><br>

			<%= f.submit "Update!", :class => "submit" %>
			<%end%>

			<p><%= button_to "Delete Profile", user_path(current_user), method: :delete, data: { confirm: "Are you sure?" } %></p>
	</div>
</div>




