<div id="profile_container">

<h1>Hello, <%=current_user.username%>! </h1>
  <span id="edit_profile_span"><%= link_to "Edit Profile", edit_user_path(current_user), id:"edit_profile" %></span>
     <p>Email: <%=current_user.email%></p>
<h2>Videos Transcribed</h2>
<table style="width:710px">
		<thead>
      <tr>
        <th>Title</th>  
        <th>Created On</th>
        <th>Video</th>
        <th>Language</th>
        <th>Edit/Delete</th>
      </tr>
    <thead>
  	<tbody>
			<% current_user.tracks.each do |track|%>
			<% video = track.youtube_id %>
			<% videos = Search.video_by_id(video) %>
      <tr>
				<%videos.each do |vid|%>
	        <td><a href="/videos/<%=track.youtube_id%>"><%=vid.snippet.title%></a></td>    
	        <td><%=track.created_at.strftime("%m/%d/%Y")%></td>
	     		<td><img src='<%=vid.snippet.thumbnails.default.url%>'></td>
	        <td><%=track.language.title%></td>
	        <td><%=button_to "Delete Track", video_track_path(vid.id, track.id), method: :delete, data: {confirm: "are you sure?"}%></td>
				<%end%>
			<%end%>
        </tr>
    </tbody>
  </table>
</div>



   