<div class='videoShowContainer'>
	<div class='video_box'>
		<div id="ytapiplayer">
	  	You need Flash player 8+ and JavaScript enabled to view this video.
		</div>
	</div>
	<div class='controls_box'>
	</div>
	<div class='clearfix'></div>
	<div class="track_divs">
	</div>
</div>

<script>
	var VIDEOAPP = {
		videoId: '<%= @video.id %>',
		loggedIn: <%= current_user.present? %>,
	  languages: <%= raw @languages.to_json %>
	}
</script>

<% if @tracks.any? %>
			<script>
			var tracks = [],
				transcriptJson;
			</script>
		<% @tracks.each do |trackBuild| %>
			<script>
				var track = {};
				var notes = [];
					transcriptJson = <%= raw trackBuild.transcript %>;
				track.creatorId = <%= trackBuild.user_id %>;
				track.trackId = <%= trackBuild.id %>;
				track.videoId = '<%= @video.id %>';

				if (transcriptJson) {
					$.each(transcriptJson, function(key, value) {	
						var note = {};
		 				note.content = value.content;
		 				note.position_css = value.position_css;
		 				notes.push(note);
					});
				}
	 			track.transcriptions = notes;
	 			tracks.push(track)
			</script>
	<% end %>

	<script>VIDEOAPP.tracks = tracks;</script>

<% else %>
	<script>VIDEOAPP.tracks = "";</script>
<% end %>

<script type="text/javascript">
	var params = { allowScriptAccess: "always" };
	var atts = { id: "myytplayer" };
	var videoURL = "http://www.youtube.com/v/" + VIDEOAPP.videoId + "?enablejsapi=1&playerapiid=ytplayer&version=3";
  var tracksContainer;
	
	swfobject.embedSWF(videoURL,"ytapiplayer", "640", "321", "8", null, null, params, atts);

	<% if current_user%>
		var currentUserId = <%=current_user.id%>;
	<%else%>
		var currentUserId = 0;
	<%end%>

  function onYouTubePlayerReady(playerId) {
    ytplayer = document.getElementById("myytplayer");
    VIDEOAPP.duration = ytplayer.getDuration();

  	tracksContainer = new TracksContainer(VIDEOAPP.duration, VIDEOAPP.loggedIn, VIDEOAPP.tracks, currentUserId);
    setInterval(updatePlayerInfo, 250);
  }

  function updatePlayerInfo() {
	  if (ytplayer && ytplayer.getPlayerState() === 1) {
	    tracksContainer.updateHTML("currentTime", Number(ytplayer.getCurrentTime()).toFixed(2));   
	    tracksContainer.updateHTML("totalDuration", Number(ytplayer.getDuration()).toFixed(2));   
	    moveProgressBar(ytplayer.getCurrentTime()); 
	  }
	}
</script>
