<div class='videoShowContainer'>
	<div class='video_box'>
		<div id="ytapiplayer">
	  	You need Flash player 8+ and JavaScript enabled to view this video.
		</div>
	</div>
	<div class='controls_box'>
	</div>
	<div class='clearfix'></div>
	<div class="track_divs">


	<script>
	var VIDEOAPP = {
		videoId: '<%= @video.id %>',
		loggedIn: <%= current_user.present? %>
	}
	</script>

	<script>
		var languages = <%= raw @languages.to_json %>;
	</script>

	<% if @tracks.any? %>
 			<script>
				var tracks = [],
					transcriptJson;
 			</script>
 		<% @tracks.each do |trackBuild| %>
 			<script>
 				transcriptJson = <%= raw trackBuild.transcript %>;
 				for(var i in transcriptJson) {
					track = {};
					track.creatorId = <%= trackBuild.user_id %>;
					track.trackId = <%= trackBuild.id %>;
					track.videoId = '<%= @video.id %>';
	 				track.content = transcriptJson[i].content;
	 				track.position_css = transcriptJson[i].position_css;
	 				tracks.push(track);
	 			}
 			</script>
		<% end %>
		<script>
			VIDEOAPP.tracks = tracks;
		</script>
	<% else %>
		<script>
			VIDEOAPP.tracks = "";
		</script>
	<% end %>
	</div>
</div>
<script type="text/javascript">
	var params = { allowScriptAccess: "always" };
	var atts = { id: "myytplayer" };
	var videoURL = "http://www.youtube.com/v/" + VIDEOAPP.videoId + "?enablejsapi=1&playerapiid=ytplayer&version=3";
	
	swfobject.embedSWF(videoURL,"ytapiplayer", "640", "321", "8", null, null, params, atts);

	<% if current_user%>
		var currentUserId = <%=current_user.id%>;
	<%else%>
		var currentUserId = 0;
	<%end%>

  function onYouTubePlayerReady(playerId) {
    ytplayer = document.getElementById("myytplayer");
    VIDEOAPP.duration = ytplayer.getDuration();
    var tracksContainer = new TracksContainer(VIDEOAPP.duration, VIDEOAPP.loggedIn, VIDEOAPP.tracks, currentUserId, languages );
    setInterval(updatePlayerInfo, 250);
  }		
</script>






