<!DOCTYPE html>
<html>
<head>
  <title>Soundscript</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

</head>
		
<body>
		<nav>
				<ul>
					<li id="soundscript_logo"><div class="soundscript_logo"></div></li>
						<%if current_user%>
					<li class="nav_link"><%= link_to "Logout", session_path(current_user), data: { confirm: "Are you sure?" }, method: "delete" %>	</li>

					<li class="nav_link"><%= link_to "Profile", user_path(current_user) %></li>	
					<%else%>
					<li class="nav_link"><%= link_to "Sign Up", new_user_path %></li>

					<li class="nav_link"><%= form_for(:session, url: sessions_path, :html => {:class => "loginform"}) do |f| %>
						<%= f.label :email %>
						<%= f.text_field :email %>
						<%= f.label :password %>
						<%= f.password_field :password %>
						<%= f.submit "Sign In" %>
						<% end %></li>
						<%end%>
					<li class="nav_link"><%= link_to "Home", root_path %></li>
				</ul>
		</nav><br>
		<br>
		<br>

		<div class="container">
			<%= yield %>
		</div>
</body>
</html>
